<?php

/**
 * PHPUnit Code Coverage / Test Report
 */
defined('TESTS_GENERATE_REPORT') || define('TESTS_GENERATE_REPORT', false);
defined('TESTS_GENERATE_REPORT_TARGET') || define('TESTS_GENERATE_REPORT_TARGET', '/path/to/target');

/**
 * Configuration
 */
$config = array(
    'mongo' => array(
        'default' => array(
            'connectionString' => 'mongodb://127.0.0.1:27017',
            'db'               => 'test',
        ),
    ),
);